@layer utilities {
  :root {
    --page-blue: #0f33ff;
  }

  body {
    font-family: "Montserrat", "Courier New", Courier, monospace;
  }

  .none {
    display: none !important;
  }

  .mainContainer {
    perspective: 1500px;
  }

  .pageContainer {
    position: relative;
    outline: 0px solid var(--page-blue);
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s, outline 0.4s;
  }

  .perspectivePage {
    outline: 30px solid var(--page-blue);
    transform: translateZ(-100px) translateX(30%) rotateY(45deg) scale(0.5);
  }

  .nav--toggle {
    width: 30px !important;
    height: 30px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .nav--toggle span {
    display: inline-block;
    width: 16px;
    height: 2px;
    background: white;
  }

  .nav--toggle::after,
  .nav--toggle::before {
    content: "";
    width: 25px;
    height: 2px;
    background: white;
    position: absolute;
    left: 2px;
  }
  .nav--toggle::after {
    top: 7px;
  }
  .nav--toggle::before {
    bottom: 7px;
  }

  .page3--header::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: var(--page-blue);
    bottom: 0;
  }

  .page3--header::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: var(--page-blue);
    bottom: 0;
  }

  .page3--header span::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--page-blue);
    left: -6px;
    top: -8px;
  }

  .page3--headerContainer::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--page-blue);
    right: 5%;
    top: 6%;
    rotate: 45deg;
  }
  .page3--headerContainer::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(
      to right bottom,
      var(--page-blue) 50%,
      #0c0c0c 50%
    );
    right: 50%;
    top: -2%;
    rotate: -25deg;
  }

  .page3--card {
    width: 150px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    outline: 10px solid var(--page-blue);
  }
  .page3--card h5 {
    transition: transform 0.4s;
  }

  .page3--card:hover h5 {
    transform: translateY(10px);
  }

  .winner--card {
    background-image: url(../public/about-winners.jpg);
  }

  .philosophy--card {
    background-image: url(../public/about-philosophy.jpg);
  }

  .history--card {
    background-image: url(../public/about-history.jpg);
  }
}

@media (min-width: 768px) {
  .page3--header span::before {
    left: -5px;
    top: -3px;
  }

  .page3--header::after {
    width: 11px;
    height: 11px;
  }
}
